* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Start */

header {
    padding: 40px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 10px;
}

.nav-links a:hover {
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: rgba(164, 23, 164, 0.396);
    font-weight: bold;
}

.nav-links button {
    border: none;
    border-radius: 6px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    cursor: progress;
}

/* Navbar end */